@page "/"
@inject HttpClient Http

<h1>Azure static web app with functions</h1>

A:
<input @bind="a" />+
B:
<input @bind="b" />=
<input @bind="c" />
<button @onclick="sum">求和</button>

@code{
    private int a;
    private int b;
    private string c;

    private async Task sum()
    {
        var result = await Http.PostAsJsonAsync("/api/sum", new
        {
            A = a,
            B = b
        });
        var sum = await result.Content.ReadAsStringAsync();

        c = sum;
    }
}

